In [1]:
import numpy as np
import pandas as pd

np.random.seed(12345)
draws = np.random.randn(1000)

draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [2]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
print(bins.codes[:10])

bins = pd.Series(bins, name='quartile')
results = pd.Series(draws).groupby(bins).agg(['mean', 'min', 'max']).reset_index()
results

[1 2 1 1 3 3 2 2 3 3]

  quartile      mean       min       max
0       Q1 -1.215981 -2.949343 -0.685484
1       Q2 -0.362423 -0.683066 -0.010115
2       Q3  0.307840 -0.010032  0.628894
3       Q4  1.261160  0.634238  3.927528